{% extends '../base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>{{ user.username }} profile</h1>
    <a href="#">Change password</a>
    <br>
    <a href="#">radio:list yourself as photographer</a>

{% endblock %}