.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  color: white;
  font-size: 12pt;
  background-color: rgb(52 58 64);
  text-align: center;
}

.dark-text {
  color: rgb(117 125 174);
}
label.required:before {
  content: "*";
  color:red;
}

.form-login {
  max-width: 360px;
  margin: auto;
  padding: 20px;
  background-color: #313131;
  /*background-image: url("../images/gray-bg.jpg");*/
}

#grad1 {
  height: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: gray; /* For browsers that do not support gradients */
  background-image: linear-gradient(90deg, rgb(117 125 174), rgb(52 58 64)); /* Standard syntax (must be last) */
}

.table-hover tbody tr:hover td {
  color: white;
}

.main-header {
    margin-bottom: 20px;
}

.border-bottom {
  border-bottom: 1px solid #565656;
  margin-bottom: 20px;
}