{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Welcome, to the Photographers Hub</h1>
    <p>Here you will be able to find the most creative and skilled photographers. Want to become a part of this
    community? Go ahead and <a href="{{ path('app_register') }}">register</a>!</p>

    <p>Here's a list of currently registered photographers:</p>
    {% for user in users %}
        <a href="{{ path('app_userProfile', { 'userName' : user.username } ) }}">{{ user.username }}</a><br>
    {% endfor %}

{% endblock %}